#validate button:first-child{
    color: #0071FF;
    background-color: #ffffff;
    border: 1px solid #0071FF;
    
}
#validate button:last-child{
    color: #ffffff;
    background-color: #0071FF;
    border: 1px solid #0071FF;
    
}
#validate{
    padding-inline: 0;
    margin: 0;
}
