<div   *ngIf="tokenService.isAuthenticated(); else elseBlock" style="display: flex; flex: 1; "   >
    <!--  -->
    <app-menu (click)="handleClick() "></app-menu>

    <div class="container-fluid">
        <app-nav-bar [hide]="this.x" [under]="this.y" (change)="c($event)" (changeX)="xyz($event)" [notifs]="notifs" [nb]="nb ||0" ></app-nav-bar>
        <div class="content"   (click)="handleClick() "> 
            <router-outlet ></router-outlet>
        </div>
       
        

    </div>
    
    
</div>
<ng-template #elseBlock>
    <div class="  d-flex justify-content-center align-items-center w-100 container-fluid">
    <router-outlet>
    
    </router-outlet>
</div>

</ng-template>
